@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");

@viewport {
  content: "width=device-width, initial-scale=1.0";
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

main {
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

button {
  background: transparent;
  outline: none;
  border: none;
  color: seagreen;
  margin: 15px 0;
}

.add-new-habit-btn:hover {
  cursor: pointer;
  color: rgb(33, 100, 62);
}

.habit-cards-container {
  /* background-color: rgba(100, 148, 237, 0.24); */
  max-width: 765px;
  display: flex;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
}

#scroll-left-btn,
#scroll-right-btn {
  color: black;
}

#scroll-left-btn:hover,
#scroll-right-btn:hover {
  cursor: pointer;
}
