@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

nav {
  padding: 1rem 3rem;
  width: 100%;
  /* position: absolute;
  top: 0; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 100%;
  background-color: slateblue;
  color: ivory;
  position: relative;
}

.nav-header {
  font-style: italic;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul li {
  padding-left: 2rem;
}

.nav-social-links,
button {
  font-size: 1.5rem;
}

button {
  padding-top: 5px;
  border: none;
  background: transparent;
  color: ivory;
  outline: none;
}

nav li:hover {
  cursor: pointer;
  color: black;
  font-weight: bolder;
}

.nav-links-resp {
  color: ivory;
  background-color: crimson;
  opacity: 1;
  transition: all 0.2s linear;
  position: absolute;
  top: 4.2rem;
  width: 100%;
}

.nav-links-resp ul li {
  text-align: right;
  padding: 4px 2rem;
  border-top: 1px solid ivory;
}

/* Responsive */

@media screen and (max-width: 700px) {
  nav {
    background-color: chocolate;
  }

  .nav-social-links {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  nav {
    background-color: cornflowerblue;
  }

  .nav-links {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .hamburger-container,
  .nav-links-resp {
    display: none;
  }
}

.hide {
  opacity: 0;
}

article {
  margin: 1.2rem 2.5rem;
}

article p {
  font-weight: lighter;
  padding: 1rem 0;
}
