.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(53, 1fr);
  gap: 5px 5px;
  margin-bottom: 15px;
  max-height: 400px;
  overflow: auto;
  margin-left: -15px;
}

.grid small {
  font-size: 8px;
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.grid-box {
  height: 15px;
  width: 15px;
  border-radius: 2px;
  background-color: rgba(112, 128, 144, 0.5);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-box-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
}

.active {
  background-color: seagreen;
}

.missed {
  background-color: #e74c3c;
}
