@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

#root {
  width: 100vw;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn {
  margin: 10rem auto;
  padding: 0.5rem 2rem;
  border: none;
  background-color: indianred;
  border-radius: 3px;
  color: ivory;
}

.btn:hover {
  cursor: pointer;
  background-color: salmon;
  color: black;
}

.show-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 100%;
  position: relative;
}

.sidebar-toggle {
  width: 15%;
  height: 100%;
  background-color: teal;
  display: flex;
  flex-direction: column;
  transition: left 2s ease-out;
  align-items: flex-end;
}

.sidebar-toggle button {
  background: transparent;
  border: none;
  color: goldenrod;
  font-size: 3.5rem;
  padding-top: 1rem;
  padding-right: 5px;
  outline: none;
}

.sidebar-toggle button:hover {
  cursor: pointer;
  color: ivory;
}

.hide {
  width: 5%;
  transition: width 0.5s ease-in;
}

.show-modal-container-expand {
  width: 95%;
}

.modal-container {
  background-color: ivory;
  width: 500px;
  height: 300px;
  position: absolute;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
}

.modal-container button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  color: firebrick;
}

.modal-container button:hover {
  cursor: pointer;
  color: brown;
}

.hide-modal-container {
  display: none;
}

.sidebar-links {
  width: 100%;
}

.sidebar-links a {
  text-decoration: none;
  color: ivory;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sidebar-links a:hover {
  color: goldenrod;
}

.sidebar-links section {
  text-align: right;
  padding-top: 1rem;
  padding-right: 1rem;
}

.sidebar-links h2,
h3 {
  display: inline;
  padding-left: 5px;
}

.sidebar-links h2 {
  font-size: 2rem;
}
