@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

#root {
  width: 100vw;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn {
  margin: 10rem auto;
  padding: 0.5rem 2rem;
  border: none;
  background-color: indianred;
  border-radius: 3px;
  color: ivory;
}

.btn:hover {
  cursor: pointer;
  background-color: salmon;
  color: black;
}

.show-modal-container {
  background-color: tan;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
}

.sidebar-toggle {
  width: 30%;
  height: 100%;
  background-color: teal;
}

.sidebar-toggle button {
  background: transparent;
  margin-left: 80%;
  border: none;
  color: goldenrod;
  font-size: 3.5rem;
}

.sidebar-toggle button:hover {
  cursor: pointer;
  color: tomato;
}
