@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #dcdde175;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #192a56;
}

.underline {
  margin-left: auto;
  margin-right: auto;
  height: 5px;
  width: 50%;
  opacity: 80%;
  background-color: #0097e6;
  border-radius: 10px;
}

.tours {
  width: 500px;
}

.tour img {
  height: 60%;
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.tour {
  overflow: hidden;
  border-radius: 5px;
  background-color: #f5f6fa;
  margin: 1rem 0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.tour-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #192a56;
}

.tour-price {
  color: #0097e6;
  font-size: 1.2rem;
  border-bottom: 1px solid #192a564b;
}

.tour footer {
  padding: 1rem;
}

.tour footer p {
  font-weight: 350;
}

.delete-btn {
  border-radius: 5px;
  display: block;
  margin: 0.8rem auto;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.3rem 2.5rem;
  color: firebrick;
  border: 1px solid firebrick;
  outline: none;
}

.delete-btn:hover {
  cursor: pointer;
  background-color: firebrick;
  color: ivory;
  transition: 0.25s ease-in;
}

.read-more-btn {
  margin: 0 5px;
  border: none;
  color: #0097e6;
  font-weight: bold;
  font-size: 1rem;
  outline: none;
  font-weight: 450;
}

.read-more-btn:hover {
  cursor: pointer;
  color: #192a56;
}

.refresh-btn {
  background-color: #192a56;
  color: ivory;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 0.5rem 2rem;
  margin: 0.5rem 0;
}

.refresh-btn:hover {
  cursor: pointer;
  background-color: #0097e6;
  transition: 0.25s ease-in;
}

.no-more-tours-msg {
  margin: 1rem 0;
}

.loading {
  margin: 1.5rem 0;
  color: #192a56;
}
